@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Fala Cidadão</h1>
    <p>Saiba mais <a href="https://learn.microsoft.com/aspnet/core">desenvolvendo aplicações com ASP.NET Core</a>.</p>
</div>